{% extends 'base.html' %}
{% block content %}
	<h1>Licitaciones</h1>
	<div class="table table-sm table-bordered">
		<table class="table">
			<thead>
				<th scope="col">Expediente</th>
				<th scope="col">Inicio</th>
				<th scope="col">Tipo</th>
				<th scope="col">Detalle</th>
				<th scope="col">Observaciones</th>
				<th scope="col">Proveedor</th>
				<th scope="col">Importe</th>
				<th scope="col">Importe Mensual</th>
				<th scope="col">Pac</th>
				<th scope="col">inciso</th>
				<th scope="col">Operaciones</th>
			</thead>
			<tbody>
				{% if list_licitaciones %}
				{% for objects in list_licitaciones %}
				<tr>
				<td scope="row">{{objects.expediente}}</td>
				<td scope="row">{{objects.inicio}}</td>
				<td scope="row">{{objects.tipo}}</td>
				<td scope="row">{{objects.detalle}}</td>
				<td scope="row">{{objects.observaciones}}</td>
				<td scope="row">{{objects.proveedor}}</td>
				<td scope="row">{{objects.importe}}</td>
				<td scope="row">{{objects.import_mensual}}</td>
				<td scope="row">{{objects.pac}}</td>
				<td scope="row">{{objects.inciso}}</td>
				<td scope="row">
					<button class="btn btn-secondary" type="submit">Modificar</button>
					<button class="btn btn-secondary" type="submit">Eliminar</button>
				</td>
				</tr>
				{% endfor %}
			</tbody>
			{% else %}
			<td>No hay proveedores</td>
			{% endif %}
		</table>
	</div>

{% endblock %}